.map-info {
    max-width: 265px;
    font-size: 0.8rem;
    overflow-wrap: break-word;
}

.logo-container {
    width: 150px;

}

@media (max-width: 765px) {
    .hidden{
        display: none;
    }
    .logo-container {
        width: 100px;
    }
}
@media (min-width: 765px) {
    .hidden-small{
        display: none;
    }

}